@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-charcoal: #121212;
  --color-wood: #3a2c25;
  --color-amber: #d4a25a;
  --color-cream: #f4f1ea;
  
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  background-color: var(--color-charcoal);
  color: var(--color-cream);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  letter-spacing: 0.05em;
}
